*{
    padding: 0;
    margin: 0;
}


.main{
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    background-color: rgb(237, 235, 235);
    width: 260px;
    box-shadow: 3;
    height: 410px;
    border-radius: 1rem;
    /* Shadow */
    box-shadow:
    0px 0px 4.8px rgba(0, 0, 0, 0.027),
    0px 0px 14.1px rgba(0, 0, 0, 0.044),
    0px 0px 37.3px rgba(0, 0, 0, 0.043),
    0px 0px 83.8px rgba(0, 0, 0, 0.058),
    0px 0px 119.7px rgba(0, 0, 0, 0.078),
    0px 0px 146px rgba(0, 0, 0, 0.1)
  ;

}
.qr{
    margin-top: 10px;
    width:220px;
    border-radius: 1rem;
}
.img{
   
    width: 100;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 220px;
    margin: 10px ;
    border-radius: 1rem;
}
.light{
    color: rgb(133, 131, 131);
    margin-left: 5px;
    margin-right: 6px;
}
.heading{
    margin-left: 9px;
    margin-right: 8px;
}
.text{
    margin-top: 20px;
   
    text-align: center;
    color: rgb(0, 0, 0);
}